<form class="col s12 white">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">
        account_box
      </i>
      <input id="first_name" placeholder="First Name" type="text">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <i clas="material-icons prefix">
        vpn_key
      </i>
      <input id="password" placeholder="Password" type="password">
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn-large btn-submit" type="submit">Login</button>
    </div>
  </div>
</form>
