
<div class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input id="first_name" type="text" class="validate">
      <label for="first_name">First Name</label>
    </div>

    <div class="input-field col s6">
      <input id="last_name" type="text">
      <label for="last_name">Last Name</label>
    </div>

  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="password" type="password">
      <label for="password">Password</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input id="email" type="email">
      <label for="email">Email</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="mobile" type="text">
      <label for="mobile">Mobile</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s6">
      <input id="address" type="text">
      <label for="address">Address</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field">
      <button class="waves-effect waves-light btn btn-large btn-submit"
        type="submit">Submit Data</button>
    </div>
  </div>
</div>


